[Unit]
Description=A modern image gallery
After=network.target
Documentation=https://github.com/fxkr/openview

[Service]
Type=simple
ExecStart=/usr/bin/openview
User=openview
Group=openview
EnvironmentFile=-/usr/share/openview/default.conf
EnvironmentFile=-/etc/openview.conf

[Install]
WantedBy=multi-user.target