[Unit]
Description=A modern image gallery
After=network.target
Documentation=https://github.com/fxkr/openview

[Service]
Type=simple
ExecStart=/usr/bin/openview
User=root

[Install]
WantedBy=multi-user.target